<html>
  <head>
    <title> Lumber Take Off Report </title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  Lumber TakeOff Report <br>
  Version {{ version }}
   <body>
      <form action = "{{ url_for('result') }}" method = "POST">
         <p>Stud Spacing<input type = "text" name = "studSpacing" value=16 /></p>
         <p>Wall 1 Width<input type = "text" name = "Wall 1 Width" value=0 /></p>
         <p>Wall 2 Width<input type = "text" name = "Wall 2 Width" value=0 /></p>
         <p>Wall 3 Width<input type = "text" name = "Wall 3 Width" value=0 /></p>
         <p>Wall 4 Width<input type = "text" name = "Wall 4 Width" value=0 /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
